
//palete color 

//background color 
$whiteBg:#FFFFFF;
$whiteLightBg2:#FAFAFA;
$whiteLightBg3:#F7F8FA;
$grayLightBg:#FFFFFF80;
$grayLightBg2:#3D404F;
$grayLightBg3:#454545;
$yellowBg:#E9D758;
$redBg:#E56768;
$redBg2:#DA5F60E6;
$blackBg:#000000;
$blackBg2:#000000CC;

// Text colors 

$whiteText:#FFFFFF;
$whiteText2:#FFFFFFCC;
$yellowText:#E9D758;
$greenText:#79B530;
$redText:#E56768;
$grayLightText:#8B8B8A;
$grayLightText2:#7F7F7F;
$grayLightText3:#74777B;
$grayLightText4:#70727E;
$grayLightText5:#5C5E6C;
$grayLightText6:#434959;
$grayLightText7:#454545;
$grayLightText8:#3D404F;
$grayLightText8:#3F3F3F;
$bluText:#223441;
$blackText:#000000;
$blackText2:#151515;
$blackText3:#252525;


//fill colors 

$whiteFill:#FFFFFF;
$greenFill:#69DE89;
$greenFill2:#82B541;
$redFill:#E56768;
$blackFill:#000000;


// border colors 
$whiteBorder:#FFFFFF;
$whiteBorder2:#ECECEE;
$lightBlueBorder:#E5ECEF;
$grayLightBorder:#EAEAEA;
$grayLightBorder2:#CCCCCC;
$yellowBorder:#E9D758;
$greenBorder:#79B530;
$redBorder:#E56768;
$blackBorder:#000000;